<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CSSPARAGO</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <span> CSSPARAGO</span>
    </header>

    <div>

    </div>
    <main class="container">
        <div class="row">
            <div class="col-md-3">
              
                    <a href="textshadow" > <button  class="button bgpcolor" id="textshadow"> Text-shadow</button> </a>
               
            </div>
            <div class="col-md-3">
               
                    <a href="boxshadow">  <button  class="button bgscolor"> Box-shadow</button> </a>
              
            </div>
            <div class="col-md-3">
                
                    <a href="border">  <button  class="button bgdcolor"> Border </button> </a>
                
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4">
                <button>
                    <a href="/boxshadow"> Box-Shadow </a>
                </button>
            </div>
            <div class="col-md-4">
                <button>
                    <a href="/border"> Border </a>
                </button>
            </div>
            <div class="col-md-4">
                <button>
                    <a href="/gradient">  CSS Gradient </a>
                </button>
            </div>
        </div> -->
    </main>
<script src="js/jquery-slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>